:root {
  --primary: #232F3E;
  --secondary: black;
  --tertiary: #048cb1;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-three: calc(2rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background-color: white;

}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  margin-right: 950px;
}

h2 {
  font-size: 2rem;
  color: black;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

header {
  background: var(--primary);
}

header a {
  color: var(--light);
}

button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
  color:white;
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  max-width: 100%;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}
nav {
  display:flex;
  justify-content: end;
}
nav div.container {
  max-width: none;
  margin-top: -75px;
  margin-left: 100px;
  position: absolute;
}
@media screen and (max-width:1354px) {
 nav div.container{
  position:absolute;
  right:-1000px
 }
}
@media screen and (max-width:1160px) {
  nav div.container{
   position:absolute;
   right:-900px
  }
 }
 @media screen and (max-width:1042px) {
  nav div.container{
    position: absolute;
    top: 75px;
    right: -832px;
    margin-right: 50px;
  }
 }
 @media screen and (max-width:910px) {
  nav div.container{
    position: absolute;
    top: 75px;
    right: -832px;
    margin-right: 182px;
  }
 }
 @media screen and (max-width: 786px) {
  nav div.container{
    position: absolute;
    top: 75px;
    right: -832px;
    margin-right: 306px;
  }
 }
 @media screen and (max-width: 661px) {
  nav div.container{
    position: absolute;
    top: 75px;
    right: -832px;
    margin-right: 400px;
  }
 }
 @media screen and (max-width: 567px) {
  nav div.container{
    position: absolute;
    top: 174px;
    right: -528px;
  }
 }
 @media screen and (max-width:412px) {
  nav div.container{
    top: 174px;
    right: -523px;
  }
  h1 {
    margin-bottom: 87px;
  }

}
.container {
  width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -525px;
    position: relative;
    z-index: 1;
}
label.tab a {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    text-decoration: none;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: -600px;
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.px-1 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-three);
}

.px-2 {
  padding-right: var(--spacing-three);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.card {
  width: 25%;
  text-align: center;
}

.error-text {
  color: var(--error);
}
.header {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
  border-top:black solid 40px;
  background:none;
  height: 170px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
 
}
.header h1 a {
  color:black;
  position: absolute;
  
}
.mx-1 a {
  color: black;
}
.coolWebsite {
  width:1800px;
  margin-top:-171px;
  position: relative;
  box-sizing: border-box;
}
@media screen and (max-width:1381) {
  .tabs {
   
   
  }
}
.flex{
  display: block;
}
.tabs {
  display: flex;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 1px #185ee026, 0 6px 12px #185ee026;
  padding: .75rem;
  border-radius: 99px;
  /* margin-left: 1237px; */
  margin-bottom: 33px;
  top: 46px;
  
}
.tabs * {
  z-index: 2;
}

.container input[type="radio"] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 50px;
  font-size: .8rem;
  color: black;
  font-weight: 500;
  border-radius: 99px;
  cursor: pointer;
  transition: color 0.15s ease-in;
}


/* @media (max-width: 700px) {
 
  .tabs {
    transform: scale(0.6);
  }
} */

ul {
  list-style: none;
}
.my-2 label {
  color: black;
}
.logo {
  width: 180px;
  height: 240px;
  margin-top: -54px;
  margin-bottom: -91px;
  margin-right: -25px;
}
#dropdown {
  display: none;
  
 
 }
 #hamburger {
  background: none;
  color:black;
  transform: scale(3);
  cursor:pointer;
  transition:.5s
  
 }
 .dropdown:hover #dropdown{
  display:block;
  position:absolute;
  top: 107px;
  right:0px;
  background-color: black;
  color:white;
  /* padding-right: 50px; */
  height: 140%;
  width:150px;
  border-top: white 20px solid;
 }
 #dropdown a {
  color:white;
  margin-left: -30px;
  
 }
 #dropdown li {
  height:50px;
 }
 
 .dropdown:hover #hamburger {
  transform:rotate(15deg) scale(3);
 }


@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}
@media screen and (max-width: 1405px) {
  #hamburger {
    position:absolute;
    right:50px
  }
  
  .dropdown:hover #dropdown {
    border-top:none
  }
}
@media screen and (max-width: 1358px) {
  #hamburger {
    position:absolute;
    right:100px
  }
  h1 {
    margin-right: 70px;
  }
}
@media screen and (max-width:1219px){
  .catMenu {
    display: none
  }
  .searchBar {
    display:flex;
    justify-content: center;
  }
}

@media screen and (max-width:1200px){
  .coolWebsite {
    display:none;
  }
  .container {
    margin-top: 150px;
  }
  .searchBar {
    /* margin:auto; */
    /* display:inline-block */
  }
}
@media screen and (max-width:551px){
  #hamburger{
    position: absolute;
    right:0px
  }
}
@media screen and (max-width:477px){
  .dropdown {
    position: absolute;
    top:40px;
    right: 30px;
  }
  .dropdown:hover ul{
    background-color: black;
    margin-top: -39px;
  }

  h1 {
    width:25%
  }
  
}
